@charset "UTF-8";

* {
    /*height: 100%;*/
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(90deg, #F2D857, #F2E18D 50%);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.508);
    width: 600px;
    padding: 10px;
    margin: auto;
    margin-top: 37px;
}

h1 {
    color: #F2CB05;
    text-align: center;
    text-shadow: 1px 1px 2px #b4970687;
}

h2 {
    color: #afa89c
}

p {
    text-align: justify;
}